@import url("./PlayerName/PlayerName.css");
@import url("./PlayerAttribute/PlayerAttribute.css");
@import url("./AttributeBadge/AttributeBadge.css");


.card{
    display: block;
  position: relative;
  height:180px;
  min-width: 350px;
  max-width: 350px;
  display: inline-block;
  background-color:#F8E4CC;
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2);
  overflow: visible;
  margin: 0 0 20px 5%;
}

.data {
  height:180px;
  min-width: 350px;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  position: relative;
  -webkit-transform: translate3d(0, 0, 0);
  overflow: visible;
  transform: translateZ(0);
   -webkit-margin-top-collapse:discard;
    -webkit-margin-start-collapse:discard;
  -webkit-margin-end-collapse:discard;
  -webkit-margin-bottom-collapse:discard;
}

.card:hover{
  background-color: royalblue;
  transform: scale3d(1.1,1.1,1.1);
  -ms-transform: scale3d(1.1,1.1,1.1);
  -webkit-transform: scale3d(1.1,1.1,1.1);
   color: whitesmoke;
}

.card:hover .name{
   color: #F4D6BC; 
}

.card:hover .badge{
   background-color: #F4D6BC;
   color:royalblue
}
.card:hover .name-tag {
   color: lightgray; 
}
.card:hover .atributes-text{
   color: lightgray; 
}


.name-container{
  flex-basis: 20%
}
.atributes{
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 0 0 14px ;
}

p{
  font-size: 16px;
  white-space: nowrap;
  display: inline;
}

.player-score{
  position: absolute;
  bottom: 0;
  right: 20px;
  max-width: 100%;
}

@media only screen and (max-width: 900px) {
    .card {
        width: 60%;
        margin: 16px 25%;
    }
}

@media only screen and (max-width: 800px) {
    .card {
         margin: 16px 12%;
    }
}


@media only screen and (max-width: 530px) {
    .card {
        margin: 16px auto;
         transform: scale3d(0.9,0.9,0.9);
        -ms-transform: scale3d(0.9,0.9,0.9);
        -webkit-transform: scale3d(0.9,0.9,0.9);
    }
    .card:hover{
        transform: scale3d(1,1,1);
        -ms-transform: scale3d(1,1,1);
        -webkit-transform: scale3d(1,1,1);     
    }
}

@media only screen and (max-width: 480px) {
    .card {
        margin: 16px auto;
        -webkit-margin-start: 16px -20px 0 0;
         transform: scale3d(0.8,0.8,0.8);
        -ms-transform: scale3d(0.8,0.8,0.8);
        -webkit-transform: scale3d(0.8,0.8,0.8);
    }
    .card:hover{
        transform: scale3d(0.9,0.9,0.9);
        -ms-transform: scale3d(0.9,0.9,0.9);
        -webkit-transform: scale3d(0.9,0.9,0.9);
    }
}
