.owner {
  background-color: #031634;
  flex-basis:20%;
  display: flex;
  justify-content: center;
  -webkit-box-shadow: 3px 2px 50px -4px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 2px 40px -4px rgba(0,0,0,0.75);
box-shadow: 3px 2px 50px -4px rgba(0,0,0,0.75);
    position: relative;
    z-index: 10;
}

.owner-data{
  margin: 24px 0;
  display: flex;
  flex-direction: column;
  position: fixed;
}

.ownerPic{
    width: 200px;
    height: 200px;
    margin: 0 0 16px 0;
    border-radius: 50%;
    border: 2px solid #EED8AE;
}

p{
    color: whitesmoke
}

p.owner-name{
    font-size: 2em;
    margin: 0;
}

.owner-account{
    font-size: 1em;
    margin: 0 0 0 8px
}
a:hover {
    color: wheat;
}
a{
    color: whitesmoke
}
.github-icon{
    color: whitesmoke;
}

.separator{
    margin: 16px 0 4px
}
.gmail-logo{
    width: 23px;
    height: 18px;
}
@media only screen and (max-width: 1110px) {
    .owner{
        display: none;
    }
}